@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

// @import 'https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400';

// @font-face {
//     font-family: Roboto;
//     src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('woff2');
// }

// @font-face {
//     font-family: Montserrat;
//     src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('woff2');
// }

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--text);
    background: var(--bg);
}

.content-page {
    display: flex;
}


*::-webkit-scrollbar {
    width: 10px; 
    height: 8px;
}

*::-webkit-scrollbar-track {
    // background: var(--light-bg); 
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-bg); 
    border: 1px solid var(--hint); 
    border-radius: 20px; 
}
