@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
// @import 'https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400';

@font-face {
    font-family: 'Roboto';
    src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('woff2');
}
.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина всей полосы прокрутки */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет бегунка */
    border: 2px solid var(--primary-color); /* отступ вокруг бегунка */
    border-radius: 20px; /* округлось бегунка */
}
