.InputWrapper {
    width: 100%;
}

.input {
    display: block;

    width: 100%;
    padding: 6px 12px;

    line-height: 1.75em;

    border: 1px solid var(--primary-color);
    border-radius: 12px;
    outline: none;

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}
