.Code {
    position: relative;

    overflow: auto;

    padding: 20px;

    background: var(--light-bg-redesigned);
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}


.copyBtn {
    position: absolute;
    top: 8px;
    right: 8px;
}
