.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.outline {
    padding: 15px;
    background: none;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}
