.items {
    margin-top: 20px;
    margin-left: 30px;
}

.item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}

.link {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 1;
}

.collapsed {
    .link {
        width: 0;
        opacity: 0;
        transition: 0.2s ease;
    }
}
