.menu {
    position: absolute;
    z-index: 10000;

    display: flex;
    flex-direction: column;

    background: var(--dark-bg);
}

.item {
    cursor: pointer;

    width: 100%;
    padding: 10px 25px;

    color: var(--text);

    background: none;
    border: none;
    outline: none;
}
