@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
