:root {
    --bg-color: rgb(214 214 214);
    --inverted-bg-color: rgb(16 16 16);
    --primary-color: rgb(22 20 30);
    --secondary-color: rgb(51 51 51);
    --inverted-primary-color: rgb(253 253 253);
    --inverted-secondary-color: rgb(188 188 188);
}
