.Icon {
    color: var(--icon);
    stroke: var(--icon);
}


.button {
    cursor: pointer;

    margin: 0;
    padding: 0;

    background: none;
    border: none;
    outline: none;
}

.button:hover .Icon {
    color: var(--accent);
}