.StarRating {
    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    .normal {
        fill: none;
    }
    
    .hovered {
        fill: var(--icon-redesigned);
    }
}

.StarIcon {
    cursor: pointer;
}

.selected {
    cursor: auto;
}