.ProfileCard {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 12px;
}

.input {
    margin-top: 10px;
}


.loading, .error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}